MONGODB_URI=mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB=techagency
PORT=4000
FRONTEND_URL=http://localhost:5173,https://your-vercel-app.vercel.app
VITE_API_URL=http://127.0.0.1:4000
